#result{
    background-color: #6b3c61;
    vertical-align: middle;
    justify-content: left;
    align-items: center;
    color: rgb(184, 167, 167);
    padding: 10px;
    width: 280px;
    border-left: 20px;
}
.display{
    border: 1px solid #cccccc;

    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

    border-radius: 20px;

    position:absolute;

    top: 40%;

    left: 30%;

    transform: translate(-60%, -40%);

    width: 300px;

    height: 300px;

}

.operation {

    display:block;

    grid-gap: 10px;

    padding: 10px;

    margin:auto;

}

.button{
    width: 40px;
    height: 30px;
    padding: 10px;
    white-space:break-spaces;
    border-spacing: 3px;
    margin-top: 5px;
    align-items: center;
  
}

.button:hover {

    background-color: #c7aaaa;

}
.operator{
   color: azure;
    background-color: #6b3c61
}

.clear{
    width: 40px;
    height: 30px;
    padding: 10px;
    white-space:break-spaces;
    background-color:  rgb(227, 46, 46)
}

.equal{

    width: 173px;
    height: 30px;
    padding: 10px;
    white-space:break-spaces;
    background-color:rgb(149, 222, 149);
    border-spacing: 3px;
    margin-top: 5px;
 
  

}